#!/bin/bash

export SPRING_PROFILE_ACTIVE=dev
export SPRING_CLOUD_CONFIG_URI=http://localhost:9000
export SPRING_CLOUD_CONFIG_ENABLED=true
export SPRING_CLOUD_CONFIG_USERNAME=root
export SPRING_CLOUD_CONFIG_PASSWORD=s3cr3t

export MANAGEMENT_SECURITY_ENABLED=false