SPRING_PROFILE_ACTIVE=dev
SPRING_CLOUD_CONFIG_URI=http://config-server-myproject.192.168.99.100.nip.io
SPRING_CLOUD_CONFIG_ENABLED=true
SPRING_CLOUD_CONFIG_USERNAME=root
SPRING_CLOUD_CONFIG_PASSWORD=s3cr3t

MANAGEMENT_SECURITY_ENABLED=false